__pycache__/load_docs.cpython-311.pyc
__pycache__/multi_query.cpython-311.pyc
__pycache__/rag_pipeline.cpython-311.pyc
__pycache__/vector_store.cpython-311.pyc
faiss_index/index.faiss
faiss_index/index.pkl
.env
.python-version
FinQA/
vectore_store/__pycache__/vector_store.cpython-311.pyc
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.pyc
chatbot_rag.egg-info/
faiss_index_*
logs/
.DS_Store
debug.log
docker-compose.yml
